<h1><img class="logo" src="https://storage.googleapis.com/arn3-static-resources/arn/arn.png" alt="ARN logo" width="50"/> Example</h1>
<p>This is an <a href="https://github.com/Arianee/arn-example/tree/angular">Angular version</a> of the ARN example.</p>
<app-connect-example
  [connectMsg]="'Connect your wallet'"
  [disconnectMsg]="'Disconnected your wallet'"
></app-connect-example>
<app-if-connected-example
  [connectedMsg]="'You are connected with wallet'"
  [disconnectedMsg]="'You are disconnected.'"
></app-if-connected-example>
<app-nft-list-example [tags]="'myTag'"></app-nft-list-example>
<p class="footer">ARN v{{version}}</p>
